@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: #242526;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px; 
    box-shadow: 0px 10px 10px rgba(0,0,0,0.18);
    display: inline-block;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    margin: 10px; /* adjust the margin as needed */
    width: 30% ; /* adjust the width as needed */
}

.wrapper {
    width: 100%;
    overflow: hidden; 
}

.wrapper img {
    width: 100%; 
    height: auto; 
}

.name {
    font-family: 'Righteous', sans-serif;
    color: rgba(255, 255, 255, 0.98);
    text-transform: uppercase;
    font-size: 1.2rem; 
}

p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem; 
    line-height: 150%;
    letter-spacing: 1px; 
    text-transform: none;
    margin-bottom: 10px; 
}

.button-wrapper {
    margin-top: 12px; 
}

.btn {
    border: none;
    padding: 8px 16px;
    border-radius: 16px; 
    font-size: 0.7rem; 
    letter-spacing: 1px; 
    cursor: pointer;
}

.btn + .btn {
    margin-left: 8px;
}

.outline {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(251, 251, 251, 0.992);
    transition: all .3s ease;
}

.outline:hover {
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
}

.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
}

.fill:hover {
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
    transition: all .3s ease;
}